<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.CollegeMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.College" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="coacher_name" property="coacherName" jdbcType="VARCHAR" />
    <result column="coacher_call" property="coacherCall" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List" >
	id,name,coacher_name,coacher_call
</sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fc.test.model.auto.CollegeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from college
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from college
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="String" >
    delete from college
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.CollegeExample" >
    delete from college
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.College" >
    insert into college (
      	  	       id,
       	  	       name,
       	  	       coacher_name,
       	  	    	  coacher_call
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{name,jdbcType=VARCHAR},
       	  	      	#{coacherName,jdbcType=VARCHAR},
       	  	    	  #{coacherCall,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.College" >
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides="," >
          
      <if test="id != null" >
        id,
      </if>
      
         
      <if test="name != null" >
        name,
      </if>
      
         
      <if test="coacherName != null" >
        coacher_name,
      </if>
      
         
      <if test="coacherCall != null" >
        coacher_call,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
          <if test="coacherName != null" >
        #{coacherName,jdbcType=VARCHAR},
      </if>
          <if test="coacherCall != null" >
        #{coacherCall,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.CollegeExample" resultType="String" >
    select count(*) from college
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update college
    <set >
          <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
          <if test="record.coacherName != null" >
        coacher_name = #{record.coacherName,jdbcType=VARCHAR},
      </if>
          <if test="record.coacherCall != null" >
        coacher_call = #{record.coacherCall,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    update college
    set
            	     	 id = #{record.id,jdbcType=VARCHAR},
    	       
        	     	 name = #{record.name,jdbcType=VARCHAR},
    	       
        	     	 coacher_name = #{record.coacherName,jdbcType=VARCHAR},
    	       
        	     	 coacher_call = #{record.coacherCall,jdbcType=VARCHAR},
    	       
        <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
    <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.College" >
    update college
    <set >
                          <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
                      <if test="coacherName != null" >
        coacher_name = #{coacherName,jdbcType=VARCHAR},
      </if>
                      <if test="coacherCall != null" >
        coacher_call = #{coacherCall,jdbcType=VARCHAR},
      </if>
              </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.College" >
    update college
    set 
             	        	    	 			name = #{name,jdbcType=VARCHAR}
		     	        	    	 			coacher_name = #{coacherName,jdbcType=VARCHAR}
		     	        	    	 			coacher_call = #{coacherCall,jdbcType=VARCHAR}
		     	        where id = #{id,jdbcType=VARCHAR}
  </update>
   </mapper>